.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    margin-bottom: 0;
}

.image p {
    font-size: 15pt;
    margin-top: 5pt;
}

.small-code {
    font-size: 14px;
}

.dark-background h4,
.dark-background h3,
.dark-background h2,
.dark-background h1,
.dark-background li {
    color: white;
}

.reveal .header-right em,
.reveal .header-left em,
.reveal .footer-right em,
.reveal .footer-left em {
    font-size: 30px;
}

.references li {
    font-size: 25px;
}

.slide-number a {
    font-size: 20px;
}

.reveal .header-right,
.reveal .header-left,
.reveal .footer-right,
.reveal .footer-left {
    font-size: 25px;
    line-height: 1.0em;
}

.reveal .header-right em,
.reveal .header-left em,
.reveal .footer-right em,
.reveal .footer-left em {
    font-size: 25px;
}

.qr-code {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.qr-code img {
    image-rendering: pixelated;
}

.titleslide .hide-on-titleslide {
    display: none;
}
