// IBM white theme

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@font-face {
    font-family: ibm_plex_sans;
    src: url("/static/fonts/IBMPlexSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: ibm_plex_sans;
    src: url("/static/fonts/IBMPlexSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: ibm_plex_sans;
    src: url("/static/fonts/IBMPlexSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: ibm_plex_sans;
    src: url("/static/fonts/IBMPlexSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'ibm_plex_sans', Helvetica, sans-serif;
$headingFont: 'ibm_plex_sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

@import "../template/custom_styles";

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
