.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image :first-child {
    margin-bottom: 0;
}

.image p {
    /* font-size: 15pt; */
    font-size: 20pt;
    margin-top: 5pt;
}

.rainbow-text {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
}

ul {
    max-width: calc(100% - 42px);
}
